// variables
$white: #fafafa;
$lightgrey: #cccccc;
$highlight: #0083ff;

// .ui-autocomplete {
// 	float: left;
// 	background-color: $white;
// 	border: solid 1px $lightgrey;
// 	margin: 0;
// 	padding: 0;
// 	transition: none !important;

// 	li {
// 		list-style: none;

// 		a {
// 			text-decoration: none;
// 			display: block;
// 			cursor: pointer;
// 			padding: 5px 10px;
// 			// line-height: $input-line-height;
// 			font-size: 16px;

// 			&:hover {
// 				background-color: $highlight;
// 				color: $white;
// 			}
// 		}
// 	}
// }

.autocomplete-dropdown {
	position: relative;
	width: 100%;
	max-width: 400px;
	font-family: sans-serif;
	box-sizing: border-box;

	> * {
		box-sizing: border-box;
	}

	.old {
		display: none;
	}

	input {
		width: 100%;
		padding: 5px 10px;
		font-size: 16px;
		outline: none;
		border: solid 1px $lightgrey;

		&:focus {
			border: solid 1px $highlight;
		}
	}

	.results {
		position: absolute;
		z-index: 1;
		width: 100%;
		top: 100%;
		left: 0;
		background-color: $white;
		border: solid 1px $lightgrey;
		display: none;

		ul {
			padding: 0;
			margin: 0;

			li {
				display: block;
				padding: 10px;
				cursor: pointer;
				color: $highlight;
				list-style: none;

				&:hover,
				&:focus {
					background-color: $highlight;
					color: $white;
				}
			}
		}
	}

	&.open {
		.results {
			display: block;
		}
	}
}